<?xml version="1.0"?>
<config>
    <modules>
        <OneThemes_ONETheme>
            <version>2.2.2</version>
        </OneThemes_ONETheme>
    </modules>
    <global>
        <models>
            <onetheme>
                <class>OneThemes_ONETheme_Model</class>
            </onetheme>
        </models>
        <blocks>
            <onetheme>
                <class>OneThemes_ONETheme_Block</class>
            </onetheme>
        </blocks>
        <helpers>
            <onetheme>
                <class>OneThemes_ONETheme_Helper</class>
            </onetheme>
        </helpers>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <onethemes_onetheme_system_layout_observer>
                        <type>singleton</type>
                        <class>OneThemes_ONETheme_Model_System_Layout_Observer</class>
                        <method>unremoveUpdate</method>
                    </onethemes_onetheme_system_layout_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <resources>
            <onetheme_setup>
                <setup>
                    <module>OneThemes_ONETheme</module>
                    <class>OneThemes_ONETheme_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onetheme_setup>
            <onetheme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onetheme_write>
            <onetheme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onetheme_read>
        </resources>
    </global>
</config>