<?xml version="1.0"?>
<!--
@category    ONE
@package     ONE_Filter
@copyright   Copyright (C) 2008-2013 nouthemes.com. All Rights Reserved.
@license     GNU General Public License version 2 or later
@author      nouthemes.com
@email       support.nouthemes.com
-->
<config>
    <modules>
        <ONE_Filter>
            <version>1.1.0</version>
        </ONE_Filter>
    </modules>

    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <ONE_Filter before="Mage_Catalog">ONE_Filter_Catalog</ONE_Filter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <ONE_Filter before="Mage_CatalogSearch">ONE_Filter_CatalogSearch</ONE_Filter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <onefilter>
                    <file>one_filter.xml</file>
                </onefilter>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <onefilter>
                <class>ONE_Filter_Block</class>
            </onefilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>ONE_Filter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <onefilter>
                <class>ONE_Filter_Helper</class>
            </onefilter>
        </helpers>
        <models>
            <onefilter>
                <class>ONE_Filter_Model</class>
                <resourceModel>onefilter_resource</resourceModel>
            </onefilter>
            <onefilter_resource>
                <class>ONE_Filter_Model_Resource</class>
            </onefilter_resource>
            <catalog_resource>
                <rewrite>
                    <product_collection>ONE_Filter_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>ONE_Filter_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <onefilter>
                        <type>singleton</type>
                        <class>onefilter/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </onefilter>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <onefilter>
                    <file>one_filter.xml</file>
                </onefilter>
            </updates>
        </layout>
    </adminhtml>

    <default>
		<onefilter>
            <general>
                <bar>1</bar>
                <bar_color>CC181E</bar_color>
            </general>
		    <catalog>
		    	<price>1</price>
                <enable>1</enable>
                <main_selector>.col-main</main_selector>
                <layer_selector>.block-layered-nav</layer_selector>
		    </catalog>
            <catalogsearch>
                <price>1</price>
                <enable>1</enable>
                <main_selector>.col-main</main_selector>
                <layer_selector>.block-layered-nav</layer_selector>
            </catalogsearch>
		</onefilter>
    </default>
</config>
