<?xml version="1.0"?>
<!--
/**
* @category    ONE
* @package     ONE_Extensions
* @copyright   Copyright (C) 2008-2013 nouthemes.com. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      nouthemes.com
* @email       support.nouthemes.com
*/
-->
<config>
    <tabs>
        <oneext translate="label">
            <label>ONE Extensions</label>
            <sort_order>100</sort_order>
        </oneext>
    </tabs>
</config>